<h1>CocletimApp</h1>

    <p id="currentNumber" class="currentNumber">Nombre actuel : {{currentNumber}}</p>
    <button name="get" (click)="getCurrentNumber()">Récupérer le nombre actuel</button>

<form [formGroup]="form">
    <label>Nombre à additionner au nombre actuel :</label>
  <mat-form-field appearance="fill">
    <input matInput placeholder="0" type="number" name="numberAdded" formControlName="numberAdded">
  </mat-form-field>
  <button mat-stroked-button name="add" (click)="add(form.value.numberAdded)">Additionner</button>
</form>
